<div id="main-search" class="main-search">
  <div class="search-control">
    <i class="feather icon-search search-control__icon" aria-hidden="true"></i>
    <input
      type="text"
      id="m-search"
      class="form-control"
      placeholder="Buscar reservas, huéspedes, habitaciones..."
      [style.width]="searchWidthString"
      (focus)="searchOn()"
    />
    <a href="javascript:" class="search-close" aria-label="Cerrar busqueda" (click)="searchOff()">
      <i class="feather icon-x"></i>
    </a>
  </div>
</div>
