<div class="pc-footer">
  <div class="footer-wrapper container-fuild">
    <div class="row align-items-center">
      <div class="col my-1">
        <p class="m-0 footer-branding">
          &copy; {{ currentYear }} {{ branding.productName }} v{{ appVersion }}
          <span class="footer-divider">|</span>
          Desarrollado por
          <a [href]="branding.companyUrl" target="_blank" rel="noopener noreferrer">{{ branding.companyName }}</a>
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item">
            <a [href]="branding.companyUrl" target="_blank" rel="noopener noreferrer">Sitio web</a>
          </li>
          <li class="list-inline-item">
            <a [href]="branding.companyUrl + '/contacto'" target="_blank" rel="noopener noreferrer">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
