.lista-pickup-form {
  .breadcrumb {
    background: transparent;
  }

  .form-label {
    font-weight: 600;
  }

  .form-check-input {
    cursor: pointer;
  }

  .alert {
    border-radius: 8px;
  }
}
